.dashboard-container{
  width:100vw;
  height:100vh;
  display:flex;
  overflow:hidden;
}

/* Sidebar – 18% */
/* .dashboard-container .sidebar{
  width:18%;
  min-width:180px;
  flex-shrink:0;
} */

/* Main Area – 82% */
.dashboard-container .users-container{
  /* width:82%; */
  height:100%;
  display:flex;
  flex-direction:column;
}


















