nav {
  background: lab(96.08% -1.94 -1.78);
margin-top: -5px;
margin-left: -4px;
  height: 50px; width: 100%;

  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1F425A;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-right: 1%;
    /* margin-right: 18px;   */
     /* moves Home, Profile, Sign Out slightly left */

}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.logout-btn {
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  background: #1F425A;
  color: white;
  cursor: pointer;
  margin-bottom: 5px;
}

@keyframes sideZoom {
  from {
    transform: translateX(-10px) scale(0.96);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}





